body {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: turquoise;
    text-transform: uppercase;
    background-color: black;
}
main {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#message {
    /* order: 1; */

    position: absolute;
    z-index: 2;
    top: 590px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}

#start-button{
    /* order: 2; */

    z-index: 2;
    top: 520px;

    position: absolute;

    margin-bottom: 20px;
    background-color: turquoise;
    border: solid 3px tomato;
    /* border-radius: 12px; */
    color: tomato;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: large;
    text-transform: uppercase;
    /* padding-top: 60; */
    height: 65px;
    padding-left: 25px;
    padding-right: 25px;
}

#title {
    position: absolute;
    top: 60px;
}

#canvas {
    position: relative;
    top: 60px;
}