body {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: turquoise;
    text-transform: uppercase;
    background-color: black;
}
main {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#message {
    /* order: 1; */
    position: absolute;
    z-index: 2;
    top: 540px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}

#start-button{
    /* order: 2; */
    z-index: 2;
    top: 465px;
    position: absolute;
    margin-bottom: 20px;
    background-color: turquoise;
    border: solid 3px tomato;
    box-shadow: 10px 10px 10px black;
    color: tomato;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: large;
    text-transform: uppercase;
    height: 65px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;

}

#title {
    position: absolute;
    top: 60px;
}

#canvas {
    position: relative;
    top: 60px;
}

#restart-button{
    /* order: 2; */
    z-index: 2;
    top: 320px;
    position: absolute;
    margin-bottom: 20px;
    background-color: turquoise;
    border: solid 3px tomato;
    box-shadow: 10px 10px 10px black;
    color: tomato;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: large;
    text-transform: uppercase;
    height: 65px;
    padding-left: 25px;
    padding-right: 25px;
}
#messageOverlay {
    /* order: 1; */
    position: absolute;
    z-index: 2;
    top: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    font-size: larger;
    background-color: tomato;
    font-weight: 700;
    color: turquoise;
}
#messageOverlayBrief {
    position: absolute;
    z-index: 2;
    top: 250px;
    right: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: larger;
    background-color:white;
    font-weight: 700;
    color: black;
}

#arrows {
    position: absolute;
    top: 700px;
    left: 300px;
}